h1 {
    color: #0000f0;
}

.título-h2 {
    color: red;
}

#párrafo {
    color: greenyellow;
}

[type=text] {
    color: violet;
}

p b {
    color: gray;
}
#párrafo:hover {
    color: aquamarine;
}

